@model IEnumerable<SistemaInventario.Modelos.Producto>
    <div class="container">
        <div class="row">
            @foreach (var producto in Model)
            {
                <div class="col-lg-3 mt-2">
                    <div class="card" style="border:2px #16d1ee solid;padding:3px">
                        <div col-3>
                            <img src="@producto.ImagenUrl" class="card-img-top rounded" style="width:280px;height:280px;padding:5px" />
                            <div class="ml-2">
                                <p class="card-title h5"><b style="color:#2c3e50;margin-left:2px">@producto.Descripcion</b></p>
                            </div>
                            <div class="ml-2">
                                <p style="margin-left:2px">Precio: <b>$ @producto.Precio.ToString("N0")</b></p>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>